@model HospitalProject.Models.ApplicantModel
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<div class="container">
    <div class="navbar">
        <a class="navlink" href="/Applicant/List">Back to List</a>
        <a class="navlink" href="/Applicant/Update/@Model.ApplicantID ">Update</a>
        <a class="navlink" href="/APplicant/Delete/@Model.ApplicantID">Delete</a>
    </div>
    <div class="col-lg-12 col-sm-12">
        <div>
            <strong>Name</strong>
            <span>@Model.ApplicantFirstName</span>
            <span>@Model.ApplicantLastName</span>
        </div>
        <div>
            <strong>Address</strong>
            <span>@Model.ApplicantAddress</span>
        </div>
        <div>
            <strong>Email</strong>
            <span>@Model.ApplicantEmail</span>
        </div>
        <div>
            <strong>Phone</strong>
            <span>@Model.ApplicantPhone</span>
        </div>
        <div>
            <strong>Skills</strong>
            <span>@Model.ApplicantSkills</span>
        </div>
        <div>
            <strong>Education Summary</strong>
            <span>@Model.ApplicantEmail</span>
        </div>
        <div>
            <strong>Work Experience</strong>
            <span>@Model.ApplicantWorkExperience</span>
        </div>
    </div>
</div>

