@model List<HospitalProject.Models.ApplicantModel>

@{
    ViewBag.Title = "List";
}

<h2>List</h2>
<div class="paginate">
    @{
        <a href="/Applicant/List?pagenum=@((int)ViewData["pagenum"]-1)&applicantsearchkey=@ViewData["applicantsearchkey"]">Prev</a>
        @ViewData["pagesummary"]
        <a href="/Applicant/List?pagenum=@((int)ViewData["pagenum"]+1)&applicantsearchkey=@ViewData["applicantsearchkey"]">Next</a>
    }
</div>
<form action="/Applicant/List" method="GET">
    <input type="text" name="applicantsearchkey" id="applicantsearchkey" />
    <input type="submit" value="Search" />
</form>
@foreach (var applicant in Model)
{
    <div class="card">
        <div class="card-header"><a href="/Applicant/Details/@applicant.ApplicantID">@applicant.ApplicantFirstName @applicant.ApplicantLastName</a></div>
        <div class="card-body">
            <div>@applicant.ApplicantEmail</div>
            <div>@applicant.ApplicantPhone</div>
            <div>@applicant.ApplicantAddress</div>
            <div>@applicant.ApplicantSkills</div>
            <div>@applicant.ApplicantWorkExperience</div>
            <div>@applicant.ApplicantEducationSummary</div>
        </div>
    </div>
}

