@model List<HospitalProject.Models.TestimonialModel>
@{
    ViewBag.Title = "VisitorView";
}

<h2>VisitorView</h2>

<div class="navbar">
    <a class="navbar-link" href="/Testimonial/Create">Create Testimonial</a>
</div>

<div class="paginate">
    @{
        <a href="/Testimonial/List?pagenum=@((int)ViewData["pagenum"]-1)&testimonialsearchkey=@ViewData["testimonialsearchkey"]">Prev</a>
        @ViewData["pagesummary"]
        <a href="/Testimonial/List?pagenum=@((int)ViewData["pagenum"]+1)&testimonialsearchkey=@ViewData["testimonialsearchkey"]">Next</a>
    }
</div>

<form action="/Testimonial/VisitorView" method="GET">
    <input type="text" name="testimonialsearchkey" id="testimonialsearchkey" />
    <input type="submit" value="Search" />
</form>

<div>
    @{
        foreach (var item in Model)
        {
            <div class="row">
                <div class="row hidden"> @item.TestimonialID </div>
                <div class="row"> @item.TestimonialTitle </div>
                <div class="row">@item.NameOfPatient</div>
                <div class="row">
                    <div class="col-sm-2">@item.TestimonialAttachment</div>
                    <div class="col-sm-6">@item.TestimonialMessage</div>
                </div>
            </div>
        }
    }
</div>

