@model List<HospitalProject.Models.JobModel>

@{
    ViewBag.Title = "List";
}

<h2>List</h2>
<div class="bg-warning">
    <form action="/Job/List" method="GET">
        <input type="text" name="jobsearchkey" id="jobsearchkey" />
        <button type="submit" class="btn btn-info">
            <span class="glyphicon glyphicon-search"></span> Search
        </button>
    </form>
    <div>
        <a class="btn btn-success" href="/Job/Create">Add</a>
    </div>
    @foreach (var job in Model)
    {
        <div class="card bg-success col-lg-6 col-sm-12">
            <div class="card-header"><a href="/Job/Details/@job.JobID">@job.JobTitle</a></div>
            <div class="card-body">
                <div><strong>Posted Date: </strong>@job.JobPostedDate</div>
                <div><strong>Department Name: </strong> @job.JobDepartmentName</div>
                <div><strong>Description: </strong>@job.JobDescription</div>
            </div>
        </div>
    }
    <div class="col-lg-12">
        @{
            <a href="/Job/List?pagenum=@((int)ViewData["pagenum"]-1)&jobsearchkey=@ViewData["jobsearchkey"]" class="btn btn-info btn-lg">
                <span class="glyphicon glyphicon-backward"></span> Prev
            </a>
            @ViewData["pagesummary"]
            <a href="/Job/List?pagenum=@((int)ViewData["pagenum"]+1)&jobsearchkey=@ViewData["jobsearchkey"]" class="btn btn-info btn-lg">
                <span class="glyphicon glyphicon-forward"></span> Next
            </a>
        }
    </div>
</div>

