@model HospitalProject.Models.Emergency

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Emergency</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Article)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Article)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KeywordOne)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KeywordOne)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KeywordTwo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KeywordTwo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KeywordThree)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KeywordThree)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EmergencyId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
